<!DOCTYPE html>
<html>
<head>
	<title>yourPAR</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// $("#hole1_par").focus(function(){
			// 	total = $("#hole1_par").val()+ $("#hole2_par").val();
			// 	$("#total").val(total);
			// });
			
			$('select').material_select();
			Materialize.updateTextFields();
			
			

		});
		
	</script>
	
</head>
<body class="green lighten-4">

<div class="container">

	<h2 class="name">Hi <%= @user.first_name %>!</h2>
	<hr>

	<% if flash[:errors] %>
		<%if flash[:errors].length < 6%>
			<% flash[:errors].each do |error| %>
				<%= error + "  " %>
			<%end%>
		<%else flash[:errors].length > 5%>
			<%= "Please complete the form before submitting" %>
		<%end%>
	<%end%>
		
	<div>
		<form action="/stats/<%= @user.id %>/new" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="stat[user_id]" value="<%= @user.id %>">
			<div class="input-field">
				<input id="course" type="text" name="stat[course]">
				<label class="active" for="course">Course</label> 
			</div>
			<div class="input-field">
				<input id="score" type="text" name="stat[score]">
				<label class="active" for="score">Score</label>
			</div>
			<div id="table">
				
				<table class="centered">
					<thead>
						<tr>
							<th>Hole</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>Out</th>
							<th>10</th>
							<th>11</th>
							<th>12</th>
							<th>13</th>
							<th>14</th>
							<th>15</th>
							<th>16</th>
							<th>17</th>
							<th>18</th>
							<th>In</th>
							<th>Total</th>
						</tr>
					</thead>
				    <tbody>
				        <tr>
				           <td>Par</td>
				           <td><input type="text"  name="stat[hole1_par]" id="hole1_par"></td>
				           <td><input type="text"  name="stat[hole2_par]" id="hole2_par"></td>
				           <td><input type="text"  name="stat[hole3_par]"></td>
				           <td><input type="text"  name="stat[hole4_par]"></td>
				           <td><input type="text"  name="stat[hole5_par]"></td>
				           <td><input type="text"  name="stat[hole6_par]"></td>
				           <td><input type="text"  name="stat[hole7_par]"></td>
				           <td><input type="text"  name="stat[hole8_par]"></td>
				           <td><input type="text"  name="stat[hole9_par]"></td>
				           <td> <!-- <input type="text" name="front9" id="front9"> --> </td>
				           <td><input type="text"  name="stat[hole10_par]"></td>
				           <td><input type="text"  name="stat[hole11_par]"></td>
				           <td><input type="text"  name="stat[hole12_par]"></td>
				           <td><input type="text"  name="stat[hole13_par]"></td>
				           <td><input type="text"  name="stat[hole14_par]"></td>
				           <td><input type="text"  name="stat[hole15_par]"></td>
				           <td><input type="text"  name="stat[hole16_par]"></td>
				           <td><input type="text"  name="stat[hole17_par]"></td>
				           <td><input type="text"  name="stat[hole18_par]"></td>
				           <td><!--<input type="text" name="back9" id="back9">--></td>
				           <td><!--<input type="text" name="total" id="total">--></td>
				        </tr>
				         <tr>
				           <td>Your Score</td>
				           <td><input type="text"  name="stat[hole1_score]"></td>
				           <td><input type="text"  name="stat[hole2_score]"></td>
				           <td><input type="text"  name="stat[hole3_score]"></td>
				           <td><input type="text"  name="stat[hole4_score]"></td>
				           <td><input type="text"  name="stat[hole5_score]"></td>
				           <td><input type="text"  name="stat[hole6_score]"></td>
				           <td><input type="text"  name="stat[hole7_score]"></td>
				           <td><input type="text"  name="stat[hole8_score]"></td>
				           <td><input type="text"  name="stat[hole9_score]"></td>
				           <td></td>
				           <td><input type="text"  name="stat[hole10_score]"></td>
				           <td><input type="text"  name="stat[hole11_score]"></td>
				           <td><input type="text"  name="stat[hole12_score]"></td>
				           <td><input type="text"  name="stat[hole13_score]"></td>
				           <td><input type="text"  name="stat[hole14_score]"></td>
				           <td><input type="text"  name="stat[hole15_score]"></td>
				           <td><input type="text"  name="stat[hole16_score]"></td>
				           <td><input type="text"  name="stat[hole17_score]"></td>
				           <td><input type="text"  name="stat[hole18_score]"></td>
				           <td></td>
				           <td></td>
				        </tr>
				        <div>
					        <tr>
					           <td>Fairway Hit</td>
					           <td><select class="browser-default" name="stat[hole1_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole2_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole3_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole4_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole5_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole6_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole7_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole8_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole9_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td></td>
					           <td><select class="browser-default" name="stat[hole10_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole11_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole12_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole13_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole14_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole15_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole16_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole17_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td><select class="browser-default" name="stat[hole18_fway]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option></select></td>
					           <td></td>
					           <td></td>
					        </tr>

				        </div>
				        <tr>
				           <td>Green Hit</td>
				           <td><select class="browser-default" name="stat[hole1_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole2_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole3_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole4_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole5_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole6_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole7_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole8_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole9_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td></td>
				           <td><select class="browser-default" name="stat[hole10_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole11_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole12_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole13_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole14_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole15_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole16_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole17_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td><select class="browser-default" name="stat[hole18_gir]"><option value=""></option><option value="yes">yes</option><option value="left">left</option><option value="right">right</option><option value="short">short</option><option value="long">long</option></select></td>
				           <td></td>
				           <td></td>
				        </tr>
				         <tr>
				           <td>Putts</td>
				           <td><input type="text"  name="stat[hole1_putts]"></td>
				           <td><input type="text"  name="stat[hole2_putts]"></td>
				           <td><input type="text"  name="stat[hole3_putts]"></td>
				           <td><input type="text"  name="stat[hole4_putts]"></td>
				           <td><input type="text"  name="stat[hole5_putts]"></td>
				           <td><input type="text"  name="stat[hole6_putts]"></td>
				           <td><input type="text"  name="stat[hole7_putts]"></td>
				           <td><input type="text"  name="stat[hole8_putts]"></td>
				           <td><input type="text"  name="stat[hole9_putts]"></td>
				           <td></td>
				           <td><input type="text"  name="stat[hole10_putts]"></td>
				           <td><input type="text"  name="stat[hole11_putts]"></td>
				           <td><input type="text"  name="stat[hole12_putts]"></td>
				           <td><input type="text"  name="stat[hole13_putts]"></td>
				           <td><input type="text"  name="stat[hole14_putts]"></td>
				           <td><input type="text"  name="stat[hole15_putts]"></td>
				           <td><input type="text"  name="stat[hole16_putts]"></td>
				           <td><input type="text"  name="stat[hole17_putts]"></td>
				           <td><input type="text"  name="stat[hole18_putts]"></td>
				           <td></td>
				           <td></td>
				        </tr>
				    </tbody>
				</table>
			</div> 
			<div class="input-field">
				<p><input id="penalties" type="text" name="stat[penalties]"><label for="penalties">TOTAL NUMBER of penalty strokes</label></p> 
			</div>
			<div class="input-field">
				<p><input id="up_down" type="text" name="stat[up_down]"><label for="up_down">TOTAL NUMBER of up and downs for par</label></p>
			</div>
			<div class="input-field">
				<p><input id="sand_attempt" type="text" name="stat[sand_attempt]"><label for="sand_attempt">Sand Attempts</label>
			</div>
			<div class="input-field"> 
				<input id="sand_save" type="text" name="stat[sand_save]"><label for="sand_save">Sand Saves</label></p>
			</div>
			<button class="btn waves-effect waves-light" type="submit" name="submit" >Submit Your Round
				<i class="material-icons right">done</i>
			</button>

		</form>
	</div>
	<h3>**Test**</h3>
	<% if @score %>
		calc score: <%= @score %>
	<%end%>
	raw input: <%= @score2 %>
	average: <%= @averageScore %>
	count: <%= @count %>
	gir: <%= @green %>
</div>

	
</body>
</html>