<!DOCTYPE html>
<html>
  <head>
    <title>YourPar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <% if current_user %>
            <a href="/users/<%= @user.id %>/home" class="brand-logo"><%= image_tag "logo.png" %></a>
          <% else %>
            <a href="" class="brand-logo"><%= image_tag "logo.png" %></a>
          <% end %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user %>
              <li><form action='/sessions/destroy' method='post'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='delete'>
                <button class="btn waves-effect waves-light cyan accent-3" type="submit" name="submit">Logout</button>
              </form></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="intro z-depth-2">
    <!-- <div class="intro green lighten-2 z-depth-1"> -->
      <h1 class="grey-text text-lighten-5">yourPAR</h1>
      <h5 class="grey lighten-4 grey-text text-darken-1">golf statistics for the modern player</h5>
    </div>
    <%= yield %>
  </body>
  <footer class="page-footer">
      <div class="footer-copyright">
          Graphics Made With: Logomakr.com
      </div>
  </footer>
</html>
